@use "../globals/states" as states;
@use "../functions/to-r-em" as f;

.detailed {
  &__input {
    @include states.active-state {
      outline-color: hsl(var(--lime));
      border-color: hsl(var(--lime));
      & + .detailed__span {
        background-color: hsl(var(--lime) / 0.6);
      }
    }
  }
}

.labelled-radio {
  @include states.active-state {
    cursor: pointer;
  }
  &__input {
    @include states.active-state {
      outline: none;
    }
  }
  &:has(&__input:hover, &__input:active, &__input:focus) {
    background-color: hsl(var(--lime) / 0.1);
    border-color: hsl(var(--lime) / 0.6);
    outline: f.to-r-em(1) solid hsl(var(--lime) / 0.6);
  }
}
